h1 {
  font-family: Lobster;
  font-size: 6em;
  color: #330000;
  text-shadow: 1px 1px 3px #000000;
}

p {
  font-family: Yanone Kaffeesatz;
  font-size: 1.6em;
  color: lightgrey;
}

.row {
  marging-top: 60px;
  background-color: #330000;
  padding-top: 20px;
  border-radius: 1% 1% 0 0;
}

.spacing {
  margin: 0 2px 0 -10px;
  background-color: #4f2828;
  Border-radius: 6px;
  color: black;
  padding: 40px 6px 0px 6px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

blockquote {
  font-family: Satisfy;
  font-size: 2em;
  color: #cf9999;
}

.date {
  color: white;
  font-family: Satisfy;
  margin: 20px 0 40px 0;
}

#photos {
  margin: 100px 0 0 -34px;
}

.span4 {
  display: inline-block;
  margin: 4px;
}

.img-hider {
  width: 200px;
  height: 20px;
  background-color: white;
}

.thumbnail {
  visibility: hidden;
  border-radius: 0%;
}

.img-hider:hover .thumbnail {
  width: 200px;
  height: 300px;
  visibility: visible;
  -webkit-transition: all 0.01s ease;
  -moz-transition: all 0.01s ease;
  -o-transition: all 0.01s ease;
}

.footer {
  color: white;
  font-family: Lobster;
  font-size: 0.8em;
  padding-bottom: -10px;
  padding-top: 20px;
}
